@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --site-background: #ab93fd;
    --table-up-border: #01d483;
    --table-nav-up-background: #01d483;
    --table-nav-down-background: #01d483;
    --table-down-border: #01d483;
    --table: #fafffc;
    --buttons: #000000;
    --static-buttons: #000000;
    --hovered-buttons: #fafffc;
    /* roxo aliare #ab93fd */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.awesome-button {
    width: 80px;
    height: 80px;
    font-size: 22px;
}
